/* Contains styles for common elements: forms, tables, etc */
* {
  padding:0;
  margin:0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; }

body{ font-family: Arial, verdana, sans-serif;}
li, dd { margin-left:5%; }
fieldset { padding: .5em; }
select option{ padding:0 5px; }

.access{ display:none; } /* For accessibility related elements */
.clear{ clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden; }
a{ outline:none; }
a img{ border:none; }

/* common classes */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .clearfix {height: 1%;}
.clearfix {display:inline-block;}
.clearfix {display: block;}

.middle			{ vertical-align:middle; }
.left 			{ float:left; }
.right 			{ float:right; }
.clear 			{ clear:both; }
.txt_center { text-align:center !important; }
.txt_right 	{ text-align:right !important; }
.txt_left 	{ text-align:left !important; }
.odd 				{ background-color:#F1F5FA; }
.even 			{ background-color:#FFF; }
.highlight 	{ background-color:#FFFFCC; }

/* messages*/

.important {
	position:absolute; 
	top:0; left:0; 
	width:100%; 
	z-index:5000; 
	background:#FFF9DC; 
	padding: 5px;
	text-align:center;
}

.important p{ font-size: large; padding:0; margin:0;}

.message { padding:5px; margin-bottom:10px; cursor: pointer; }

.notice { color: #333; background: #efe; border: solid 1px #bd7; }
.error { color:#CC0000; background-color:#f19d9d; border: solid 1px #aa0f0f; }
.warning { color:#c69000; background-color:#f8fac9; border: solid 1px #fce445; }

.input_error {
	display:table;
	font-size:10px;
	color:#ff0000;
	background:#ffffcc;
}

#errorExplanation {
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}