<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Manuten&ccedil;&atilde;o</title>
		<link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
		<style type="text/css" media="screen">
			html, body {
				color: black;
				font-family: verdana, helvetica, arial, sans-serif;
				font-size:12px;
				margin: 0;
				padding: 0;
				width:100%;
				height:100%;
				background:#E0E1E3; }

			h1 {
				color:#487dac;
				font-weight:bold;
				font-family:Verdana;
				font-size:20px;
				margin:0px;
				padding:0px; }

			div.notification {
				position:absolute;
				margin: 30px auto;
				left: 50%;
				top: 50%;
				width: 520px;
				background: #fff;
				margin-top: -300px;
				margin-left: -260px;
			}

			div.notification div.inner { padding: 20px; text-align:center; }

			div.notification h1 { font-size: 18px; margin: 0 0 18px 0; padding: 10px; }

			div.notification p {
				margin: 0 0 14px 0;
				font-size: 14px;
				line-height: 140%;
			}
		</style>
</head>

<body>

<div class="notification">
  <div class="inner">
    <h1>Estamos em manuten&ccedil;&atilde;o</h1>
    <p>Nosso serviço est&aacute; fora do ar <%= reason ? reason : "para manuten&ccedil;&atilde;o" %> a partir de <%= Time.now.strftime("%H:%M %Z") %>. <p>
		<p>N&oacute;s voltaremos <%= deadline ? deadline : "o quanto antes poss&iacute;vel" %>.</p>
  </div>
</div>

</body>
</html>
